<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arma 2 players</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
            text-align: left;    
        }
    </style>
</head>
<body>
    <h1>Arma 2 players</h1>
    <table style="width:100%">
    {% for player in players %} 
        <tr>
            <td width="14%">Player nr {{player.id}} :{{player.player_name}}</td>
            <td>uid: {{player.player_uid}}</td>
            <td>Played: {{player.missions_played}}</td>
            <td>Last: {{player.last_played}}</td>
            <td>Knecapping: {% if player.danger_zone %}<font color="red">True</font>  {% endif %}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>