<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arma 2 players</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>Arma 2 players</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Username</th>
            <th>Rank</th>
            <th>Missions played</th>
            <th>Last played</th>
        </tr>
    </thead>
    {% for player in players %}  
        <tr {% if player.danger_zone %} class="danger" {% endif %} >
            <td width="14%">Nr {{player.id}} : <a href="/players/{{player.player_name}}"> {{player.player_name}}</a></td>
            <td>{{player.player_rank}}</td>
            <td>{{player.missions_played}}</td>
            <td>{{player.last_played}}</td>

        </tr>
    {% endfor %}
    </table>
</body>
</html>