<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arma 2 players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='chartkick.js') }}"></script>
    <script src="{{ url_for('static', filename='sortTable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/players.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="navigation">
            <div class="navigation-button"><a href="{{url_for('sessions.get_sessions')}}"}}>Sessions</a></div>
            <div class="navigation-button active"><a href="{{url_for('players.display_players')}}">Players</a></div>
            <div class="navigation-button"><a href="{{url_for('missions.display_missions')}}"}}>Missions</a></div>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="charts">
            <div class="chart">
                <div class="chart-header">
                    <span>Rank distribution</span>
                </div>
                <div class="chart-content">
                    {% pie_chart data with id='chart-1' height='400px' %}
                </div>
            </div>
        </div>
        <div>
            <table id="players" class="players">
                <thead>
                    <tr>
                        <th class="text-left">Username</th>
                        <th class="text-center">Rank</th>
                        <th class="text-center">Played</th>
                        <th class="text-center">Last played</th>
                        <th class="text-left">Staff note</th>
                        <th class=""></th>
                    <tr>
                </thead>
                <tbody>
                {% for player in players %}  
                    <tr class="{{player.return_danger()}} {{player.player_rank}}" >
                        <td class="username text-left"><a href="{{url_for('players.display_one_player', username=player.player_name)}}">{{player.player_name}}</a></td>
                        <td class="rank text-center">{{player.player_rank}}</td>
                        <td class="played text-center">{{player.missions_played}}</td>
                        <td class="last-played text-center" title="{{ player.last_played.date() }}">
                            {{ 'today' if (today - player.last_played.date()).days <= 0 else (today - player.last_played.date()).days ~ ' days ago' }}
                        </td>
                        <td class="note text-left">
                            <span class="note-value" data-username="{{ player.player_name }}">{{ player.staff_notes }}</span>
                            <span class="note-edit" style="display: none;"><input name="note" value="{{ player.staff_notes }}"/></span>
                        </td>
                        <td class="operations">
                            <button class="update" style="display: none;">Update</button>
                            <button class="cancel" style="display: none;">Cancel</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>