<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{player.player_name}}'s profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='chartkick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="navigation">
            <div class="navigation-button"><a href="{{url_for('sessions.get_sessions')}}"}}>Sessions</a></div>
            <div class="navigation-button profile active"><a href="{{ url_for('players.display_players') }}">Players</a> / {{player.player_name}}</div>
            <div class="navigation-button"><a href="{{url_for('missions.display_missions')}}"}}>Missions</a></div>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="profile-stats">
            <div class="field-content">
                <div class="row">
                    <div class="field">
                        <span class="label">Rank:</span>
                        <span class="value">{{ player.player_rank }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="label">UID:</span>
                        <span class="value">{{ player.player_uid }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="label">Deaths / played:</span>
                        <span class="value" title="{{ '%.2f' % (player.deaths / player.missions_played * 100) }} %">{{ player.deaths }} / {{ player.missions_played }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="label">Leadership / played:</span>
                        <span class="value" title="{{ '%.2f' % (player.played_leader / player.missions_played * 100) }} %">{{ player.played_leader }} / {{ player.missions_played }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="label">Last session:</span>
                        <span class="value">
                            <a href="{{url_for('sessions.display_session', year=player.last_played.year, week=player.last_played.isocalendar()[1]) }}">
                                {{ player.last_played.year }} / {{ player.last_played.isocalendar()[1] }}
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="charts">
            <div class="chart">
                <div class="chart-header">
                    <span>Role distribution</span>
                </div>
                <div class="chart-content" >
                    {% pie_chart data with id='chart-1' height='400px' %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>