<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arma 2 sessions</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{{ url_for('static', filename='chartkick.js') }}"></script>
</head>
<body>

    <div class="col-md-3"></div>
    <div class="col-md-6">
    <h1>Arma 2 missions</h1>    
    <nav class="navbar navbar-default">
        <div class="container-fluid"
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for('sessions.get_sessions')}}"}}>Sessions<span class="sr-only">(current)</span></a></li>
                    <li><a href="{{url_for('players.display_players')}}">Players</a></li>
                    <li class="active"><a href="{{url_for('missions.display_missions')}}"}}>Missions<span class="sr-only">(current)</span></a></li> 
             </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <table class="table table-bordered table-hover table-condensed">
     {% for mission in missions %}
            <tr>
                <div class="panel panel-default {{mission.colour}}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{loop.index}}">{{mission.mission_name}}</a><p>
                        </h4>
                    </div>
                    <div id="{{loop.index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h6>
                                    Last played: {{mission.last_played}}
                                </h6>
                                <h6>
                                    Mission type: {{mission.mission_type}}
                                </h6>
                                <h6>
                                <a href="{{url_for('sessions.display_session', year=mission.last_datetime.year, week=mission.last_datetime.isocalendar()[1]) }}">
                                {{ mission.last_datetime.year }} / {{ mission.last_datetime.isocalendar()[1] }}
                                <h6>
                            </div>
                    </div>
                </div>
            </tr>
      {% endfor %}
    </table>
    </div>
    <div class="col-md-3"></div>
</body>
</html>
